.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  padding: 0 0 30px 0;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dataSection {
  margin-left: 20px;
  color: white;
  /* 데이터 글자 색상을 흰색으로 설정 */
}

body {
  background-color: black;
  color: white;
  /* 기본 글씨 설정 흰색 */
}

.speechBubble {
  background: #fee486;
  border-radius: 15px;
  min-width: 400px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 250px;
  /* 위치: 필요에 따라 조절 */
  padding: 20px;
  /* 패딩 추가하여 텍스트와 테두리 간의 여백 생성 */
  flex-wrap: wrap;
  /* 텍스트가 많아지면 자동으로 줄 바꿈되게 설정 */
}

.speechBubble:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-left-color: #fee486;
  border-right: 0;
  margin-top: -16px;
  margin-right: -16px;
}

.videoSection {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 200px;
  height: 150px;
  overflow: hidden;
}

.middleSection {
  display: flex;
  width: 100%;
  margin-top: 15px;
  /*위치 옮기기*/
}

.videoContainer {
  width: 65%;
  padding-top: 36.5625%;
  position: relative;
  margin: auto;
}

.webcamStream {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}